<h1><%= @list.name %></h1>

<%= link_to "New Movie", new_list_bookmark_path(@list) %>

<ul>
<% @list.bookmarks.each do |bookmark|%>
<li><%= bookmark.movie.title%></li>
<li><%= bookmark.movie.overview%></li>
<li><%= bookmark.comment %> <%= link_to "Delete",
    bookmark,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></li>
<% end %>
</ul>
